@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Poppins:wght@500;700&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(253, 251, 251);
  color: #353535;
  font-family: "Roboto", sans-serif;
}

/* Header */

#cabecalho {
  position: fixed;
  top: 0;
  background-color: #353535;
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 11;
}

#titulo {
  font-family: "Poppins", sans-serif;
  color: #fdfff6;
  font-size: 48px;
  font-weight: bold;
  margin-left: 80px;
}

#menu-link li {
  list-style: none;
}

#menu-link a {
  text-decoration: none;
  margin-right: 80px;
  color: #fdfff6;
  background-color: #284b63;
  padding: 16px 32px;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 0.02em;
  transition: ease-in-out 0.2s;
}

#menu-link a::after {
  content: ">";
  margin-left: 10px;
}

#menu-link a:hover {
  background-color: #fdfff6;
  color: #284b63;
}

/* Main */

main {
  margin-top: 36px;
  padding: 80px 80px;
  height: 648px;
  display: flex;
  flex-direction: row-reverse;
  background-color: #f5f5f5;
  align-items: center;
  justify-content: space-between;
}

#check-learning {
  position: relative;
  display: flex;
  background-color: #fdfff7;
  width: 696px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  justify-content: space-between;
}

.perfil img {
  height: 380px;
}

.check-container {
  margin: 34px 65px 34px 34px;
}

.check-container h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

#licoes_aprendidas,
#licoes_a_aprender {
  list-style: none;
  margin-top: 34px;
  margin-left: 50px;
  line-height: 28px;
}

#licoes_aprendidas li:nth-child(odd)::before {
  content: "";
  width: 3px;
  height: 12px;
  background-color: #ff0000;
  display: inline-block;
  margin-right: 15px;
}

#licoes_aprendidas li:nth-child(even)::before {
  content: "";
  width: 3px;
  height: 12px;
  background-color: #ffd911;
  display: inline-block;
  margin-right: 15px;
}

#licoes_a_aprender li:nth-child(odd)::before {
  content: "";
  width: 3px;
  height: 12px;
  background-color: #00a3ff;
  display: inline-block;
  margin-right: 15px;
}

#licoes_a_aprender li:nth-child(even)::before {
  content: "";
  width: 3px;
  height: 12px;
  background-color: #88d759;
  display: inline-block;
  margin-right: 15px;
}

#check-learning .separador {
  position: absolute;
  bottom: 36px;
  right: 36px;
}

/* Table */

#table-progress {
  background-color: #3c6e71;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#table-progress img {
  width: 32px;
}

#table-progress table {
  background-color: #fdfff6;
  border-radius: 5px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0 86px;
  border-spacing: 26px;
}

#table-progress th {
  background-color: #284b63;
  color: #fdfff6;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 3px;
}

#table-progress td {
  max-width: 110px;
}

/* Article & Aside */

#article-aside {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
}

#article {
  margin-top: 68px;
  margin-bottom: 68px;
  margin-left: 80px;
  background-color: #fdfff6;
  border-radius: 5px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}

#article h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  width: 182px;
  line-height: 36px;
  margin-top: 40px;
  margin-left: 40px;
}

#article p {
  font-weight: 400;
  line-height: 22px;
  width: 460px;
  margin-top: 58px;
  margin-right: 40px;
  margin-bottom: 40px;
}

#aside {
  position: relative;
  margin-top: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
  background-color: #fdfff6;
  border-radius: 5px;
  width: 350px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}

#aside img {
  transform: rotate(180deg);
  position: absolute;
  top: 20px;
  left: 20px;
}

#aside p {
  position: absolute;
  bottom: 36px;
  right: 36px;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  width: 245px;
}

/* Footer */

#rodape {
  background-color: #353535;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rodape p {
  color: #fdfff6;
  font-family: "Alegreya", serif;
  margin-top: 12px;
  margin-bottom: 12px;
}
